Repository ryancheley/yt-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pydocstyle, zizmor

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: check-docstring-first
      - id: check-json
      - id: check-xml
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run ty check --ignore call-non-callable
        language: system
        types: [python]
        exclude: ^tests/
      - id: pydocstyle
        name: pydocstyle
        entry: uv run pydocstyle
        language: system
        types: [python]
        exclude: ^tests/
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: [--tb=short, --maxfail=1, -q]
      - id: zizmor
        name: zizmor
        entry: uv run zizmor
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: true

✨ Expand alias system with global shortcuts and user-defined aliases (#359)
  docs/command-aliases.rst
  youtrack_cli/cli_utils/aliases.py
  youtrack_cli/config.py
  youtrack_cli/main.py
Due: ty, pydocstyle

🔧 Add .claude/settings.local.json to .gitignore
  .gitignore
Due: none

🔧 Add .claude/settings.local.json to .gitignore (#360)
  .gitignore
Due: none

🔥 remove local settings file
  .claude/settings.local.json
Due: none

🔧 Fix formatting issues in error handling module
  docs/error-handling.rst
  youtrack_cli/cli_utils/validation.py
  youtrack_cli/console.py
  youtrack_cli/error_formatting.py
  youtrack_cli/main.py
Due: ty, pydocstyle

🔧 Fix formatting issues in error handling module (#361)
  docs/error-handling.rst
  youtrack_cli/cli_utils/validation.py
  youtrack_cli/console.py
  youtrack_cli/error_formatting.py
  youtrack_cli/main.py
Due: ty, pydocstyle

📚 Add comprehensive documentation testing system
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/conf.py
  docs/developer-guidelines.rst
  pyproject.toml
  tests/test_documentation.py
Due: ty, pydocstyle, zizmor

🔧 Fix documentation build issues in CI
  .github/workflows/ci.yml
  docs/conf.py
  docs/developer-guidelines.rst
  tests/test_documentation.py
Due: ty, pydocstyle, zizmor

🔧 Fix Sphinx documentation build and add pre-commit validation
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/conf.py
  docs/developer-guidelines.rst
Due: ty, pydocstyle, zizmor

🔧 Fix Sphinx doctest issues and documentation warnings
  .github/workflows/ci.yml
  docs/api/index.rst
  docs/conf.py
  docs/index.rst
Due: ty, pydocstyle, zizmor

♻️ Simplify custom field management with centralized utilities
  docs/custom-fields.rst
  docs/index.rst
  tests/test_custom_field_manager.py
  tests/test_issues.py
  youtrack_cli/admin.py
  youtrack_cli/custom_field_manager.py
  youtrack_cli/custom_field_types.py
  youtrack_cli/issues.py
  youtrack_cli/panels.py
  youtrack_cli/projects.py
Due: ty, pydocstyle

♻️ Simplify custom field management with centralized utilities (#363)
  docs/custom-fields.rst
  docs/index.rst
  tests/test_custom_field_manager.py
  tests/test_issues.py
  youtrack_cli/admin.py
  youtrack_cli/custom_field_manager.py
  youtrack_cli/custom_field_types.py
  youtrack_cli/issues.py
  youtrack_cli/panels.py
  youtrack_cli/projects.py
Due: ty, pydocstyle

🧪 Significantly improve test coverage for low-coverage modules
  coverage_report.txt
  tests/test_performance_benchmark.py
  tests/test_tutorial.py
  tests/test_utils.py
Due: none

🧪 Significantly improve test coverage for low-coverage modules (#364)
  coverage_report.txt
  tests/test_performance_benchmark.py
  tests/test_tutorial.py
  tests/test_utils.py
Due: none

✨ Add comprehensive documentation testing system
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/conf.py
  docs/developer-guidelines.rst
  pyproject.toml
  youtrack_cli/auth.py
  youtrack_cli/client.py
  youtrack_cli/config.py
Due: ty, pydocstyle, zizmor

🔧 Fix Sphinx documentation testing infrastructure
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/api/_autosummary/youtrack_cli.client.rst
  docs/api/_autosummary/youtrack_cli.exceptions.rst
  docs/api/_autosummary/youtrack_cli.models.rst
  docs/api/_autosummary/youtrack_cli.utils.rst
  docs/conf.py
Due: ty, pydocstyle, zizmor

✨ Add comprehensive documentation testing system (Fixes #347) (#365)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/api/_autosummary/youtrack_cli.client.rst
  docs/api/_autosummary/youtrack_cli.exceptions.rst
  docs/api/_autosummary/youtrack_cli.models.rst
  docs/api/_autosummary/youtrack_cli.utils.rst
  docs/conf.py
  docs/developer-guidelines.rst
  pyproject.toml
  youtrack_cli/auth.py
  youtrack_cli/client.py
  youtrack_cli/config.py
Due: ty, pydocstyle, zizmor

📚 Add comprehensive historical documentation to CHANGELOG.md for all git tags
  CHANGELOG.md
Due: none

📚 Add comprehensive historical documentation to CHANGELOG.md for all git tags (#366)
  CHANGELOG.md
Due: none

🔖 Bump version to 0.11.0
  pyproject.toml
  uv.lock
Due: none

🤖 Add CLI testing agent for automated command validation
  .claude/agents/cli-tester.md
  .claude/commands/implement.md
Due: none

🐛 Fix TypeError in 'yt ls' command - incorrect parameter name
  youtrack_cli/main.py
Due: ty, pydocstyle

🐛 Fix TypeError in 'yt ls' command - incorrect parameter name (#369)
  youtrack_cli/main.py
Due: ty, pydocstyle

🐛 Fix TypeError in 'yt new' command
  youtrack_cli/main.py
Due: ty, pydocstyle

🐛 Fix TypeError in 'yt new' command (#370)
  youtrack_cli/main.py
Due: ty, pydocstyle

📝 Update CHANGELOG.md for version 0.11.0
  CHANGELOG.md
Due: none

🔖 Bump version to 0.11.1
  pyproject.toml
  uv.lock
Due: none

🐛 Fix multiple CLI command issues - groups create, CSV format, tag filter, issue move
  docs/commands/issues.rst
  youtrack_cli/admin.py
  youtrack_cli/commands/issues.py
  youtrack_cli/issues.py
  youtrack_cli/main.py
Due: ty, pydocstyle

🐛 Fix multiple CLI command issues - groups create, CSV format, tag filter, issue move (#379)
  docs/commands/issues.rst
  youtrack_cli/admin.py
  youtrack_cli/commands/issues.py
  youtrack_cli/issues.py
  youtrack_cli/main.py
Due: ty, pydocstyle

✨ Implement missing 'yt projects show' command
  youtrack_cli/commands/projects.py
Due: ty, pydocstyle

✨ Implement missing 'yt projects show' command (#380)
  youtrack_cli/commands/projects.py
Due: ty, pydocstyle

🐛 Fix settings get --name and set commands URL encoding and field mapping
  youtrack_cli/admin.py
Due: ty, pydocstyle

🐛 Fix settings get --name and set commands URL encoding and field mapping (#381)
  youtrack_cli/admin.py
Due: ty, pydocstyle

🐛 Fix NoneType error in time summary group-by type
  youtrack_cli/time.py
Due: ty, pydocstyle

🐛 Fix NoneType error in time summary group-by type (#382)
  youtrack_cli/time.py
Due: ty, pydocstyle

🐛 Fix 404 error in yt users permissions command for group management
  CHANGELOG.md
  docs/troubleshooting.rst
  youtrack_cli/users.py
Due: ty, pydocstyle

🐛 Fix 404 error in yt users permissions command for group management (#383)
  CHANGELOG.md
  docs/troubleshooting.rst
  youtrack_cli/users.py
Due: ty, pydocstyle

📚 Prepare CHANGELOG.md for v0.12.0 release
  CHANGELOG.md
Due: none

📚 Prepare CHANGELOG.md for v0.12.0 release (#384)
  CHANGELOG.md
Due: none

🔖 Bump version to 0.12.0
  pyproject.toml
  uv.lock
Due: none
