Repository ryancheley/yt-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, zizmor

ty:
  name: ty
  entry: uv run ty check --ignore call-non-callable
  language: system

zizmor:
  name: zizmor
  entry: uv run zizmor
  language: system
  pass_filenames: true

🔧 Fix CI type checking to ignore unresolved-attribute errors and check only youtrack_cli package
  .github/workflows/ci.yml
Due: zizmor

✨ Add comprehensive pre-commit hooks and switch to ty for type checking (#27)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  docs/changelog.rst
  docs/development.rst
  pyproject.toml
Due: zizmor

🧹 Apply pre-commit hook formatting fixes
  .claude/settings.local.json
  .github/dependabot.yml
  .github/workflows/release.yml
  .readthedocs.yaml
  PUBLISHING.md
  docs-updates.md
  docs/Makefile
  docs/api/index.rst
  docs/commands/admin.rst
  docs/commands/articles.rst
  docs/commands/auth.rst
  docs/commands/boards.rst
  docs/commands/config.rst
  docs/commands/index.rst
  docs/commands/issues.rst
  docs/commands/projects.rst
  docs/commands/reports.rst
  docs/commands/time.rst
  docs/commands/users.rst
  docs/configuration.rst
  docs/index.rst
  docs/installation.rst
  docs/learning-path.rst
  docs/quickstart.rst
  docs/requirements.txt
  docs/troubleshooting.rst
  docs/workflows.rst
  docs/youtrack-concepts.rst
  justfile
  tox.ini
  uv.lock
Due: zizmor

🔧 removed docs feedback
  docs-updates.md
Due: none

📚 Implement documentation improvements and enhanced CLI UX
  .claude/settings.local.json
  README.md
  docs-improvement.md
  docs/configuration.rst
  docs/troubleshooting.rst
  youtrack_cli/main.py
Due: ty

📚 Implement documentation improvements and enhanced CLI UX (#28)
  .claude/settings.local.json
  README.md
  docs-improvement.md
  docs/configuration.rst
  docs/troubleshooting.rst
  youtrack_cli/main.py
Due: ty

🔧 removed doc improvements file
  docs-improvement.md
Due: none

✨ Enhance error handling and logging infrastructure
  .claude/settings.local.json
  .gitignore
  README.md
  docs/changelog.rst
  docs/development.rst
  docs/installation.rst
  docs/quickstart.rst
  docs/troubleshooting.rst
  pyproject.toml
  youtrack_cli/common.py
  youtrack_cli/exceptions.py
  youtrack_cli/logging.py
  youtrack_cli/main.py
  youtrack_cli/utils.py
Due: ty

✨ Enhance error handling and logging infrastructure (#29)
  .claude/settings.local.json
  .gitignore
  README.md
  docs/changelog.rst
  docs/development.rst
  docs/installation.rst
  docs/quickstart.rst
  docs/troubleshooting.rst
  pyproject.toml
  youtrack_cli/common.py
  youtrack_cli/exceptions.py
  youtrack_cli/logging.py
  youtrack_cli/main.py
  youtrack_cli/utils.py
Due: ty

🚀 Prepare release v0.2.0
  pyproject.toml
  tests/test_admin.py
  tests/test_projects.py
  tests/test_users.py
  youtrack_cli/__init__.py
  youtrack_cli/articles.py
Due: ty

🚀 Prepare release v0.2.0 (#31)
  pyproject.toml
  tests/test_admin.py
  tests/test_projects.py
  tests/test_users.py
  youtrack_cli/__init__.py
  youtrack_cli/articles.py
Due: ty

🐛 Fix authentication endpoint 404 error
  .claude/settings.local.json
  uv.lock
  youtrack_cli/auth.py
Due: ty

🐛 Fix authentication endpoint 404 error (#33)
  .claude/settings.local.json
  uv.lock
  youtrack_cli/auth.py
Due: ty

🐛 Fix JSON parsing errors in issues, articles, and boards commands
  tests/test_articles.py
  youtrack_cli/articles.py
  youtrack_cli/boards.py
  youtrack_cli/issues.py
Due: ty

🧪 Fix test mocking patterns for boards and issues
  tests/test_boards.py
  tests/test_issues.py
Due: none

🐛 Fix JSON parsing errors in issues, articles, and boards commands (#38)
  tests/test_articles.py
  tests/test_boards.py
  tests/test_issues.py
  youtrack_cli/articles.py
  youtrack_cli/boards.py
  youtrack_cli/issues.py
Due: ty

🐛 Fix API endpoint construction issues
  youtrack_cli/issues.py
Due: ty

🐛 Fix API endpoint construction issues (#39)
  youtrack_cli/issues.py
Due: ty

🐛 Fix admin_manager initialization in admin commands
  youtrack_cli/main.py
Due: ty

🐛 Fix admin_manager initialization in admin commands (#40)
  youtrack_cli/main.py
Due: ty

🐛 Fix admin_manager initialization in admin commands (#40)
  tests/conftest.py
  tests/test_auth.py
Due: none

🐛 Fix admin_manager initialization in admin commands (#40) (#42)
  tests/conftest.py
  tests/test_auth.py
Due: none

🧪 Add pytest-randomly for randomized test execution
  README.md
  docs/development.rst
  pyproject.toml
  uv.lock
Due: none

🧪 Add pytest-randomly for randomized test execution (#44)
  README.md
  docs/development.rst
  pyproject.toml
  uv.lock
Due: none

🐛 Fix users API endpoint from /api/admin/users to /api/users
  youtrack_cli/users.py
Due: ty

🐛 Fix users API endpoint from /api/admin/users to /api/users (#45)
  youtrack_cli/users.py
Due: ty

🔖 Bump version to 0.2.1
  pyproject.toml
Due: none

🐛 Fix ruff target-version configuration
  pyproject.toml
Due: none

🐛 Fix version-bump recipe to only update project version
  justfile
Due: none

🔖 Bump version to 0.2.1 (#46)
  justfile
  pyproject.toml
Due: none

🔧 Fix version mismatch between __init__.py and pyproject.toml
  .claude/settings.local.json
  pyproject.toml
  uv.lock
  youtrack_cli/__init__.py
Due: ty

🔧 Fix version mismatch between __init__.py and pyproject.toml (#57)
  .claude/settings.local.json
  pyproject.toml
  uv.lock
  youtrack_cli/__init__.py
Due: ty

🐛 Fix type checker mismatch in tox.ini
  tox.ini
Due: none

🐛 Fix type checker mismatch in tox.ini (#58)
  tox.ini
Due: none

🐛 Fix type checker mismatch in tox.ini (#58)
  pyproject.toml
  tox.ini
  uv.lock
Due: none

🐛 Fix type checker mismatch in tox.ini (#58)
  pyproject.toml
  uv.lock
Due: none

📚 Enhance release process with comprehensive justfile recipes and documentation
  docs/changelog.rst
  docs/development.rst
  docs/troubleshooting.rst
  docs/workflows.rst
  justfile
Due: none

🔧 Implement comprehensive logging system (#30)
  CLAUDE.md
  README.md
  docs/changelog.rst
  docs/development.rst
  docs/index.rst
  docs/logging.rst
  docs/troubleshooting.rst
  docs/workflows.rst
  justfile
  pyproject.toml
  tests/test_logging.py
  uv.lock
  youtrack_cli/common.py
  youtrack_cli/logging.py
  youtrack_cli/utils.py
Due: ty

🔧 Implement comprehensive logging system (#30) (#59)
  CLAUDE.md
  README.md
  docs/index.rst
  docs/logging.rst
  docs/troubleshooting.rst
  pyproject.toml
  tests/test_logging.py
  uv.lock
  youtrack_cli/common.py
  youtrack_cli/logging.py
  youtrack_cli/utils.py
Due: ty

📦 Add __all__ declarations to control module exports
  youtrack_cli/__init__.py
  youtrack_cli/admin.py
  youtrack_cli/articles.py
  youtrack_cli/auth.py
  youtrack_cli/boards.py
  youtrack_cli/common.py
  youtrack_cli/config.py
  youtrack_cli/exceptions.py
  youtrack_cli/issues.py
  youtrack_cli/logging.py
  youtrack_cli/main.py
  youtrack_cli/projects.py
  youtrack_cli/reports.py
  youtrack_cli/time.py
  youtrack_cli/users.py
  youtrack_cli/utils.py
Due: ty

Path conditions:
  ty: any of: \.py$, but not: ^tests/
  zizmor: any of: ^\.github/workflows/.*\.ya?ml$
