Repository ryancheley/yt-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pydocstyle, clean-environment, zizmor, check-package-build, docs-build-check

ty:
  name: Type checking with ty
  description: Static type checking for Python code
  entry: uv run ty check --ignore call-non-callable --project youtrack_cli
  language: system
  verbose: true
  fail_fast: true

pydocstyle:
  name: Docstring style checking
  description: Ensures Google-style docstrings are followed
  entry: uv run pydocstyle youtrack_cli/
  language: system
  verbose: true

clean-environment:
  name: Clean virtual environment
  description: Ensures clean package environment before tests
  entry: uv sync --reinstall --group docs
  language: system
  pass_filenames: false
  verbose: true

zizmor:
  name: GitHub Actions security check
  description: Security analysis for GitHub Actions workflows
  entry: uv run zizmor
  language: system
  pass_filenames: true
  verbose: true

check-package-build:
  name: Check package build
  description: Validates package can be built successfully
  entry: bash -c 'uv build --no-sources && echo "✅ Package build successful"'
  language: system
  pass_filenames: false
  verbose: true

docs-build-check:
  name: Documentation build check
  description: Validates documentation can be built
  entry: bash -c 'cd docs && uv run make html && echo "✅ Documentation build successful"'
  language: system
  pass_filenames: false
  verbose: true

✏️ prepare for new release
  CHANGELOG.md
Due: none

🔖 Bump version to 0.20.0
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

:construction_worker: Update dependabot.yml
  .github/dependabot.yml
Due: none

✨ Add user's name to assignee column in 'yt i list' output
  docs/commands/issues.rst
  tests/managers/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✨ Add user's name to assignee column in 'yt i list' output (#600)
  docs/commands/issues.rst
  tests/managers/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✨ Group related issues under clear relationship type headings
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

✨ Group related issues under clear relationship type headings (#601)
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🔖 Bump version to 0.21.0
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🧱 update just recipe
  justfile
Due: none

🧹 clean up docs
  docs/ssl-troubleshooting.rst
Due: docs-build-check

⚡ Add tox-uv plugin for faster testing with uv package manager
  CHANGELOG.md
  docs/development.rst
  pyproject.toml
  tox.ini
  uv.lock
Due: clean-environment, check-package-build, docs-build-check

⚡ Add tox-uv plugin for faster testing with uv package manager (#609)
  CHANGELOG.md
  docs/development.rst
  pyproject.toml
  tox.ini
  uv.lock
Due: clean-environment, check-package-build, docs-build-check

⚡ Speed up GitHub Actions CI with tox-uv integration
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/development.rst
  tox.ini
Due: zizmor, docs-build-check

🔧 Fix remaining type checker errors with proper type assertions
  youtrack_cli/client.py
  youtrack_cli/commands/issues.py
  youtrack_cli/field_selection.py
Due: ty, pydocstyle, clean-environment, check-package-build

⚡ Speed up GitHub Actions CI with tox-uv integration (Fixes #610) (#611)
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/development.rst
  tox.ini
  youtrack_cli/client.py
  youtrack_cli/commands/issues.py
  youtrack_cli/field_selection.py
Due: ty, pydocstyle, clean-environment, zizmor, check-package-build, docs-build-check

:sparkles: Add Python 3.13t and 3.14 to CI matrix
  .github/workflows/ci.yml
Due: zizmor

:sparkles: add new python versions
  .github/workflows/ci.yml
Due: zizmor

✅ Add Python 3.13 free-threaded and Python 3.14 support to CI
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: clean-environment, zizmor, check-package-build

🔧 Fix CI failures by removing unavailable Python 3.14 versions
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: clean-environment, zizmor, check-package-build

✅ Add complete Python 3.13t and 3.14 support with allow-prereleases
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: clean-environment, zizmor, check-package-build

🔧 Fix CFFI compatibility issue by removing Python 3.13t
  .github/workflows/ci.yml
  tox.ini
Due: zizmor

🔧 Fix PyO3 compatibility issue by removing Python 3.14t
  .github/workflows/ci.yml
  tox.ini
Due: zizmor

📋 Document ecosystem constraints preventing Python 3.14 support
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: clean-environment, zizmor, check-package-build

✅ Add Python 3.13 free-threaded and Python 3.14 support to CI (Fixes #616) (#617)
  .github/workflows/ci.yml
Due: zizmor

🤖 Help the robot with uv
  CLAUDE.md
Due: none

✨ Add articles fetch command to sync YouTrack content to local files (Fixes #635)
  tests/test_articles.py
  youtrack_cli/articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build

🔧 Fix type-check by adding pre-existing error ignores to tox configuration
  tox.ini
Due: none

✨ Add articles fetch command to sync YouTrack content to local files (Fixes #635) (#636)
  tests/test_articles.py
  tox.ini
  youtrack_cli/articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build

✨ feat(#634): Add custom field support for issue creation and updates
  tests/managers/test_issues.py
  youtrack_cli/batch.py
  youtrack_cli/commands/issues.py
  youtrack_cli/managers/issues.py
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

✨ feat(#634): Add custom field support for issue creation and updates (#637)
  tests/managers/test_issues.py
  youtrack_cli/batch.py
  youtrack_cli/commands/issues.py
  youtrack_cli/managers/issues.py
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

📝 docs: Update CHANGELOG.md for version 0.22.0 release
  CHANGELOG.md
Due: none

🔖 Bump version to 0.22.0
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🔧 fix(#638): Add custom field type discovery support
  CHANGELOG.md
  docs/commands/issues.rst
  youtrack_cli/custom_field_manager.py
  youtrack_cli/services/issues.py
  youtrack_cli/services/projects.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

fix(#638): Add custom field type discovery support (#639)
  CHANGELOG.md
  docs/commands/issues.rst
  youtrack_cli/custom_field_manager.py
  youtrack_cli/services/issues.py
  youtrack_cli/services/projects.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

📝 docs: Add CHANGELOG entry for version 0.22.1
  CHANGELOG.md
Due: none

🔖 Bump version to 0.22.1
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

📝 docs: Mark version 0.22.1 as yanked due to custom fields bug
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

Path conditions:
  ty: any of: \.py$, but not: ^tests/
  pydocstyle: any of: \.py$, but not: ^tests/
  clean-environment: any of: ^(pyproject\.toml|uv\.lock|youtrack_cli/.*)$
  zizmor: any of: ^\.github/workflows/.*\.ya?ml$
  check-package-build: any of: ^(pyproject\.toml|youtrack_cli/.*)$
  docs-build-check: any of: ^docs/.*\.(rst|py)$
