Repository ryancheley/yt-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pydocstyle, clean-environment, zizmor, check-package-build, docs-build-check

ty:
  name: Type checking with ty
  description: Static type checking for Python code
  entry: uv run ty check --ignore call-non-callable --project youtrack_cli
  language: system
  verbose: true
  fail_fast: true

pydocstyle:
  name: Docstring style checking
  description: Ensures Google-style docstrings are followed
  entry: uv run pydocstyle youtrack_cli/
  language: system
  verbose: true

clean-environment:
  name: Clean virtual environment
  description: Ensures clean package environment before tests
  entry: uv sync --reinstall --group docs
  language: system
  pass_filenames: false
  verbose: true

zizmor:
  name: GitHub Actions security check
  description: Security analysis for GitHub Actions workflows
  entry: uv run zizmor
  language: system
  pass_filenames: true
  verbose: true

check-package-build:
  name: Check package build
  description: Validates package can be built successfully
  entry: bash -c 'uv build --no-sources && echo "✅ Package build successful"'
  language: system
  pass_filenames: false
  verbose: true

docs-build-check:
  name: Documentation build check
  description: Validates documentation can be built
  entry: bash -c 'cd docs && uv run make html && echo "✅ Documentation build successful"'
  language: system
  pass_filenames: false
  verbose: true

🔖 Bump version to 0.24.1 (#723)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🐛 fix(issues): filter list by actual state field, not server query (#721)
  CHANGELOG.md
  tests/managers/test_issues.py
  tests/test_issues.py
  tests/test_utils.py
  youtrack_cli/issues.py
  youtrack_cli/managers/issues.py
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 fix(issues): filter list by actual state field, not server query (#721) (#724)
  CHANGELOG.md
  tests/managers/test_issues.py
  tests/test_issues.py
  tests/test_utils.py
  youtrack_cli/issues.py
  youtrack_cli/managers/issues.py
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build

🔖 Bump version to 0.24.2
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🔖 Bump version to 0.24.2 (#725)
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🐛 fix(issues): --state open returns unresolved; specific states filter server-side (#721)
  CHANGELOG.md
  tests/managers/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 fix(issues): --state open returns unresolved; specific states filter server-side (#721) (#729)
  CHANGELOG.md
  tests/managers/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🔖 Bump version to 0.24.3
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🔖 Bump version to 0.24.3 (#730)
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🐛 fix(json): parse API responses leniently to survive malformed field values
  CHANGELOG.md
  tests/test_services.py
  tests/test_utils.py
  youtrack_cli/services/base.py
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 fix(json): parse API responses leniently to survive malformed field values (#731)
  CHANGELOG.md
  tests/test_services.py
  tests/test_utils.py
  youtrack_cli/services/base.py
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 fix(issues): resolve --profile, add compact profile, warn on client-side state truncation (#726, #727, #728)
  CHANGELOG.md
  tests/managers/test_issues.py
  tests/test_field_selection.py
  youtrack_cli/commands/issues.py
  youtrack_cli/field_selection.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 fix(issues): resolve --profile, add compact profile, warn on client-side state truncation (#726, #727, #728) (#732)
  CHANGELOG.md
  tests/managers/test_issues.py
  tests/test_field_selection.py
  youtrack_cli/commands/issues.py
  youtrack_cli/field_selection.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 fix(issues): fetch large list/search results in bounded pages (#727)
  CHANGELOG.md
  tests/managers/test_issues.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 fix(issues): fetch large list/search results in bounded pages (#727) (#733)
  CHANGELOG.md
  tests/managers/test_issues.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

✨ feat(issues): add --format ndjson streaming output (#727)
  CHANGELOG.md
  tests/managers/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/console.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

✨ feat(issues): add --format ndjson streaming output (#727) (#734)
  CHANGELOG.md
  tests/managers/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/console.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🔖 Bump version to 0.24.4
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🔖 Bump version to 0.24.4 (#735)
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🧰 chore: commit Spec Kit workflow toolkit
  .claude/skills/speckit-agent-context-update/SKILL.md
  .claude/skills/speckit-analyze/SKILL.md
  .claude/skills/speckit-checklist/SKILL.md
  .claude/skills/speckit-clarify/SKILL.md
  .claude/skills/speckit-constitution/SKILL.md
  .claude/skills/speckit-implement/SKILL.md
  .claude/skills/speckit-plan/SKILL.md
  .claude/skills/speckit-specify/SKILL.md
  .claude/skills/speckit-tasks/SKILL.md
  .claude/skills/speckit-taskstoissues/SKILL.md
  .specify/extensions.yml
  .specify/extensions/.registry
  .specify/extensions/agent-context/README.md
  .specify/extensions/agent-context/agent-context-config.yml
  .specify/extensions/agent-context/commands/speckit.agent-context.update.md
  .specify/extensions/agent-context/extension.yml
  .specify/extensions/agent-context/scripts/bash/update-agent-context.sh
  .specify/extensions/agent-context/scripts/powershell/update-agent-context.ps1
  .specify/init-options.json
  .specify/integration.json
  .specify/integrations/claude.manifest.json
  .specify/integrations/speckit.manifest.json
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/setup-tasks.sh
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  .specify/workflows/speckit/workflow.yml
  .specify/workflows/workflow-registry.json
Due: none

🧰 chore: commit Spec Kit workflow toolkit (#737)
  .claude/skills/speckit-agent-context-update/SKILL.md
  .claude/skills/speckit-analyze/SKILL.md
  .claude/skills/speckit-checklist/SKILL.md
  .claude/skills/speckit-clarify/SKILL.md
  .claude/skills/speckit-constitution/SKILL.md
  .claude/skills/speckit-implement/SKILL.md
  .claude/skills/speckit-plan/SKILL.md
  .claude/skills/speckit-specify/SKILL.md
  .claude/skills/speckit-tasks/SKILL.md
  .claude/skills/speckit-taskstoissues/SKILL.md
  .specify/extensions.yml
  .specify/extensions/.registry
  .specify/extensions/agent-context/README.md
  .specify/extensions/agent-context/agent-context-config.yml
  .specify/extensions/agent-context/commands/speckit.agent-context.update.md
  .specify/extensions/agent-context/extension.yml
  .specify/extensions/agent-context/scripts/bash/update-agent-context.sh
  .specify/extensions/agent-context/scripts/powershell/update-agent-context.ps1
  .specify/init-options.json
  .specify/integration.json
  .specify/integrations/claude.manifest.json
  .specify/integrations/speckit.manifest.json
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/setup-tasks.sh
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  .specify/workflows/speckit/workflow.yml
  .specify/workflows/workflow-registry.json
Due: none

⚡ ci: move Python 3.15 tests off the per-PR critical path (#736)
  .github/workflows/ci.yml
  specs/002-ci-py315-speedup/checklists/requirements.md
  specs/002-ci-py315-speedup/plan.md
  specs/002-ci-py315-speedup/quickstart.md
  specs/002-ci-py315-speedup/research.md
  specs/002-ci-py315-speedup/spec.md
  specs/002-ci-py315-speedup/tasks.md
Due: zizmor

⚡ ci: move Python 3.15 tests off the per-PR critical path (#736) (#738)
  .github/workflows/ci.yml
  specs/002-ci-py315-speedup/checklists/requirements.md
  specs/002-ci-py315-speedup/plan.md
  specs/002-ci-py315-speedup/quickstart.md
  specs/002-ci-py315-speedup/research.md
  specs/002-ci-py315-speedup/spec.md
  specs/002-ci-py315-speedup/tasks.md
Due: zizmor

🔒 fix(security): remediate findings #740–#743
  .pre-commit-config.yaml
  SECURITY.md
  specs/003-security-fixes/checklists/requirements.md
  specs/003-security-fixes/plan.md
  specs/003-security-fixes/quickstart.md
  specs/003-security-fixes/research.md
  specs/003-security-fixes/spec.md
  specs/003-security-fixes/tasks.md
  tests/test_security_fixes.py
  tests/test_tutorial.py
  youtrack_cli/auth.py
  youtrack_cli/commands/articles.py
  youtrack_cli/tutorial/core.py
  youtrack_cli/tutorial/executor.py
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build

🔒 fix(security): remediate findings #740–#743 (#744)
  .pre-commit-config.yaml
  SECURITY.md
  specs/003-security-fixes/checklists/requirements.md
  specs/003-security-fixes/plan.md
  specs/003-security-fixes/quickstart.md
  specs/003-security-fixes/research.md
  specs/003-security-fixes/spec.md
  specs/003-security-fixes/tasks.md
  tests/test_security_fixes.py
  tests/test_tutorial.py
  youtrack_cli/auth.py
  youtrack_cli/commands/articles.py
  youtrack_cli/tutorial/core.py
  youtrack_cli/tutorial/executor.py
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build

🔖 Bump version to 0.24.5
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🔖 Bump version to 0.24.5 (#745)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🩹 fix(auth): distinguish "stored but unreadable" credentials from "none" (#746)
  tests/test_auth.py
  youtrack_cli/auth.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build

🩹 fix(auth): distinguish "stored but unreadable" credentials from "none" (#746) (#747)
  tests/test_auth.py
  youtrack_cli/auth.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build

🔖 Bump version to 0.24.6
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🔖 Bump version to 0.24.6 (#748)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

Add workflow for auto-merging Dependabot PRs
  .github/workflows/auto-merge-dependabot.yml
Due: zizmor

🔒 fix(ci): harden dependabot actor check against spoofing
  .claude/commands/deep-review.md
  .github/workflows/auto-merge-dependabot.yml
Due: zizmor

Add workflow for auto-merging Dependabot PRs (#754)
  .claude/commands/deep-review.md
  .github/workflows/auto-merge-dependabot.yml
Due: zizmor

🐛 fix(json): replace console.print with click.echo for all --format json output paths
  .pre-commit-config.yaml
  specs/004-fix-json-output/checklists/requirements.md
  specs/004-fix-json-output/contracts/json-output-contract.md
  specs/004-fix-json-output/data-model.md
  specs/004-fix-json-output/plan.md
  specs/004-fix-json-output/quickstart.md
  specs/004-fix-json-output/research.md
  specs/004-fix-json-output/spec.md
  specs/004-fix-json-output/tasks.md
Due: none

🐛 fix(json): replace console.print with click.echo for machine-readable output
  .specify/feature.json
  tests/test_issues.py
  youtrack_cli/commands/articles.py
  youtrack_cli/commands/issues.py
  youtrack_cli/commands/projects.py
  youtrack_cli/commands/users.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build

🔧 fix(test): make json regression test robust to stream mixing
  tests/test_issues.py
Due: none

fix(json): use click.echo for all --format json output paths
  .pre-commit-config.yaml
  .specify/feature.json
  specs/004-fix-json-output/checklists/requirements.md
  specs/004-fix-json-output/contracts/json-output-contract.md
  specs/004-fix-json-output/data-model.md
  specs/004-fix-json-output/plan.md
  specs/004-fix-json-output/quickstart.md
  specs/004-fix-json-output/research.md
  specs/004-fix-json-output/spec.md
  specs/004-fix-json-output/tasks.md
  tests/test_issues.py
  youtrack_cli/commands/articles.py
  youtrack_cli/commands/issues.py
  youtrack_cli/commands/projects.py
  youtrack_cli/commands/users.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build

📝 docs(changelog): add 0.24.7 entry
  CHANGELOG.md
Due: none

🔖 Bump version to 0.24.7
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

Path conditions:
  ty: any of: \.py$, but not: ^tests/
  pydocstyle: any of: \.py$, but not: ^tests/
  clean-environment: any of: ^(pyproject\.toml|uv\.lock|youtrack_cli/.*)$
  zizmor: any of: ^\.github/workflows/.*\.ya?ml$
  check-package-build: any of: ^(pyproject\.toml|youtrack_cli/.*)$
  docs-build-check: any of: ^docs/.*\.(rst|py)$
