Repository ryancheley/yt-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pydocstyle, clean-environment, zizmor, check-package-build, docs-build-check

ty:
  name: Type checking with ty
  description: Static type checking for Python code
  entry: uv run ty check --ignore call-non-callable --project youtrack_cli
  language: system
  verbose: true
  fail_fast: true

pydocstyle:
  name: Docstring style checking
  description: Ensures Google-style docstrings are followed
  entry: uv run pydocstyle youtrack_cli/
  language: system
  verbose: true

clean-environment:
  name: Clean virtual environment
  description: Ensures clean package environment before tests
  entry: uv sync --reinstall --group docs
  language: system
  pass_filenames: false
  verbose: true

zizmor:
  name: GitHub Actions security check
  description: Security analysis for GitHub Actions workflows
  entry: uv run zizmor
  language: system
  pass_filenames: true
  verbose: true

check-package-build:
  name: Check package build
  description: Validates package can be built successfully
  entry: bash -c 'uv build --no-sources && echo "✅ Package build successful"'
  language: system
  pass_filenames: false
  verbose: true

docs-build-check:
  name: Documentation build check
  description: Validates documentation can be built
  entry: bash -c 'cd docs && uv run make html && echo "✅ Documentation build successful"'
  language: system
  pass_filenames: false
  verbose: true

📝 Fix documentation to match actual CLI (full v0.23.0 review) (#681)
  CHANGELOG.md
  docs/commands/admin.rst
  docs/commands/alias.rst
  docs/commands/articles.rst
  docs/commands/completion.rst
  docs/commands/config.rst
  docs/commands/groups.rst
  docs/commands/index.rst
  docs/commands/issues.rst
  docs/commands/projects.rst
  docs/commands/setup.rst
  docs/commands/tutorial.rst
  docs/commands/users.rst
  docs/configuration.rst
  docs/custom-fields.rst
  docs/learning-path.rst
  docs/progress-indicators.rst
  docs/quickstart.rst
  docs/troubleshooting.rst
  docs/workflows.rst
  docs/youtrack-concepts.rst
Due: docs-build-check

📝 Fix documentation to match actual CLI (full v0.23.0 review) (#681) (#682)
  CHANGELOG.md
  docs/commands/admin.rst
  docs/commands/alias.rst
  docs/commands/articles.rst
  docs/commands/completion.rst
  docs/commands/config.rst
  docs/commands/groups.rst
  docs/commands/index.rst
  docs/commands/issues.rst
  docs/commands/projects.rst
  docs/commands/setup.rst
  docs/commands/tutorial.rst
  docs/commands/users.rst
  docs/configuration.rst
  docs/custom-fields.rst
  docs/learning-path.rst
  docs/progress-indicators.rst
  docs/quickstart.rst
  docs/troubleshooting.rst
  docs/workflows.rst
  docs/youtrack-concepts.rst
Due: docs-build-check

📝 Make /deep-review run a live analysis instead of canned output
  .claude/commands/deep-review.md
Due: none

📝 Make /deep-review run a live analysis instead of canned output (#683)
  .claude/commands/deep-review.md
Due: none

🐛 Fix broken links and cross-reference in docs (just docs-check)
  docs/commands/setup.rst
  docs/troubleshooting.rst
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 Fix broken links and cross-reference in docs (just docs-check) (#684)
  docs/commands/setup.rst
  docs/troubleshooting.rst
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

📝 Fix short RST title underlines for a warning-free docs build
  docs/commands/admin.rst
  docs/commands/articles.rst
  docs/commands/completion.rst
  docs/commands/config.rst
  docs/commands/groups.rst
  docs/commands/projects.rst
  docs/commands/setup.rst
  docs/commands/tutorial.rst
  docs/configuration.rst
  docs/learning-path.rst
  docs/troubleshooting.rst
Due: docs-build-check

📝 Fix short RST title underlines for a warning-free docs build (#685)
  docs/commands/admin.rst
  docs/commands/articles.rst
  docs/commands/completion.rst
  docs/commands/config.rst
  docs/commands/groups.rst
  docs/commands/projects.rst
  docs/commands/setup.rst
  docs/commands/tutorial.rst
  docs/configuration.rst
  docs/learning-path.rst
  docs/troubleshooting.rst
Due: docs-build-check

📝 Fix invented options found by a second /deep-review pass (#686)
  CHANGELOG.md
  docs/command-aliases.rst
  docs/commands/admin.rst
  docs/commands/groups.rst
  docs/commands/ls.rst
  docs/configuration.rst
  docs/custom-fields.rst
  docs/learning-path.rst
  docs/troubleshooting.rst
  docs/workflows.rst
Due: docs-build-check

📝 Fix invented options found by a second /deep-review pass (#686) (#687)
  CHANGELOG.md
  docs/command-aliases.rst
  docs/commands/admin.rst
  docs/commands/groups.rst
  docs/commands/ls.rst
  docs/configuration.rst
  docs/custom-fields.rst
  docs/learning-path.rst
  docs/troubleshooting.rst
  docs/workflows.rst
Due: docs-build-check

📝 Fix remaining short RST title underlines (clean-build warning sweep)
  docs/commands/auth.rst
  docs/commands/boards.rst
  docs/commands/ls.rst
  docs/commands/new.rst
  docs/commands/reports.rst
  docs/commands/time.rst
  docs/commands/velocity.rst
  docs/developer-guidelines.rst
  docs/performance.rst
  docs/security.rst
Due: docs-build-check

📝 Fix remaining short RST title underlines (clean-build warning sweep) (#688)
  docs/commands/auth.rst
  docs/commands/boards.rst
  docs/commands/ls.rst
  docs/commands/new.rst
  docs/commands/reports.rst
  docs/commands/time.rst
  docs/commands/velocity.rst
  docs/developer-guidelines.rst
  docs/performance.rst
  docs/security.rst
Due: docs-build-check

📝 Fix the last 9 docs-build warnings (clean build is now warning-free)
  docs/api/index.rst
  docs/installation.rst
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

📝 Fix the last 9 docs-build warnings (clean build is now warning-free) (#689)
  docs/api/index.rst
  docs/installation.rst
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

📝 Finalize CHANGELOG for 0.23.1 release
  CHANGELOG.md
Due: none

📝 Finalize CHANGELOG for 0.23.1 release (#690)
  CHANGELOG.md
Due: none

🔖 Bump version to 0.23.1
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

👷 Add Python 3.15 to tox and CI matrix
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: clean-environment, zizmor, check-package-build

👷 Drop py315t until cryptography ships free-threaded 3.15 wheels
  .github/workflows/ci.yml
  tox.ini
Due: zizmor

👷 Add Python 3.15 to tox and CI matrix (#692)
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: clean-environment, zizmor, check-package-build

📝 Remove inconsistent numbered section headers from quickstart
  docs/quickstart.rst
Due: docs-build-check

📝 Remove inconsistent numbered section headers from quickstart (#693)
  docs/quickstart.rst
Due: docs-build-check

📝 Record quickstart header fix in CHANGELOG (#693)
  CHANGELOG.md
Due: none

📝 Point README completion link at stable docs
  CHANGELOG.md
  README.md
Due: none

🔖 Bump version to 0.23.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🔖 Release 0.23.2 (#694)
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🧹 Remove lingering Python 3.9 references and dead workarounds
  CHANGELOG.md
  CONTRIBUTING.md
  docs/development.rst
  docs/installation.rst
  docs/learning-path.rst
  docs/quickstart.rst
  docs/troubleshooting.rst
  scripts/pre-commit-doctor.sh
  youtrack_cli/cache.py
  youtrack_cli/client.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🧹 Remove lingering Python 3.9 references and dead workarounds (#696)
  CHANGELOG.md
  CONTRIBUTING.md
  docs/development.rst
  docs/installation.rst
  docs/learning-path.rst
  docs/quickstart.rst
  docs/troubleshooting.rst
  scripts/pre-commit-doctor.sh
  youtrack_cli/cache.py
  youtrack_cli/client.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔖 Bump version to 0.24.0
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

✨ add gh-profiler for new issues and prs
  .github/workflows/profile_contributors.yml
Due: zizmor

✨ add gh-profiler for new issues and prs (#698)
  .github/workflows/profile_contributors.yml
Due: zizmor

Add MIT License to the project
  LICENSE
Due: none

Add MIT License to the project (#699)
  LICENSE
Due: none

📜 docs: ratify project constitution v1.0.0 (code quality, testing, UX, performance)
  .specify/memory/constitution.md
Due: none

📜 docs: ratify project constitution v1.0.0 (code quality, testing, UX, performance) (#704)
  .specify/memory/constitution.md
Due: none

⬆️ ci: group Dependabot updates into single PR per ecosystem
  .github/dependabot.yml
Due: none

⬆️ ci: group Dependabot updates into single PR per ecosystem (#717)
  .github/dependabot.yml
Due: none

🐛 fix(issues): escape multi-word state filter in list query (#721)
  .specify/feature.json
  specs/001-fix-state-filter/checklists/requirements.md
  specs/001-fix-state-filter/plan.md
  specs/001-fix-state-filter/quickstart.md
  specs/001-fix-state-filter/research.md
  specs/001-fix-state-filter/spec.md
  specs/001-fix-state-filter/tasks.md
  tests/managers/test_issues.py
  tests/test_issues.py
  tests/test_utils.py
  youtrack_cli/issues.py
  youtrack_cli/managers/issues.py
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 fix(issues): escape multi-word state filter in list query (#721) (#722)
  .specify/feature.json
  specs/001-fix-state-filter/checklists/requirements.md
  specs/001-fix-state-filter/plan.md
  specs/001-fix-state-filter/quickstart.md
  specs/001-fix-state-filter/research.md
  specs/001-fix-state-filter/spec.md
  specs/001-fix-state-filter/tasks.md
  tests/managers/test_issues.py
  tests/test_issues.py
  tests/test_utils.py
  youtrack_cli/issues.py
  youtrack_cli/managers/issues.py
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build

🔖 Bump version to 0.24.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

Path conditions:
  ty: any of: \.py$, but not: ^tests/
  pydocstyle: any of: \.py$, but not: ^tests/
  clean-environment: any of: ^(pyproject\.toml|uv\.lock|youtrack_cli/.*)$
  zizmor: any of: ^\.github/workflows/.*\.ya?ml$
  check-package-build: any of: ^(pyproject\.toml|youtrack_cli/.*)$
  docs-build-check: any of: ^docs/.*\.(rst|py)$
