Repository ryancheley/yt-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pydocstyle, clean-environment, zizmor, check-package-build, docs-build-check

Path conditions:
  ty: any of: \.py$, but not: ^tests/
  pydocstyle: any of: \.py$, but not: ^tests/
  clean-environment: any of: ^(pyproject\.toml|uv\.lock|youtrack_cli/.*)$
  zizmor: any of: ^\.github/workflows/.*\.ya?ml$
  check-package-build: any of: ^(pyproject\.toml|youtrack_cli/.*)$
  docs-build-check: any of: ^docs/.*\.(rst|py)$

🐛 Fix complex alias execution - aliases with arguments now work (#537)
  youtrack_cli/cli_utils/aliases.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix issues tag list command returning empty results
  tests/services/test_issues.py
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix issues tag list command returning empty results (#538)
  tests/services/test_issues.py
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix time log WorkItemType entity error with work type resolution
  docs/commands/time.rst
  tests/integration/test_time_tracking_integration.py
  youtrack_cli/commands/time_tracking.py
  youtrack_cli/time.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 Fix time log WorkItemType entity error with work type resolution (#539)
  docs/commands/time.rst
  tests/integration/test_time_tracking_integration.py
  youtrack_cli/commands/time_tracking.py
  youtrack_cli/time.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 Fix users groups/roles/teams commands 404 errors
  tests/managers/test_users.py
  tests/services/test_users.py
  youtrack_cli/managers/users.py
  youtrack_cli/services/users.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix users groups/roles/teams commands 404 errors (#540)
  tests/managers/test_users.py
  tests/services/test_users.py
  youtrack_cli/managers/users.py
  youtrack_cli/services/users.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix Type field validation to fail closed when field names unavailable (Fixes #535)
  tests/managers/test_issues.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix Type field validation to fail closed when field names unavailable (Fixes #535) (#541)
  tests/managers/test_issues.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

✨ Add attachment IDs to issues attach list command output
  docs/commands/issues.rst
  tests/managers/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✨ Add attachment IDs to issues attach list command output (#542)
  docs/commands/issues.rst
  tests/managers/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/managers/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

♻️ Rename 'issues dependencies' to 'issues related' and show all relationship types dynamically
  CHANGELOG.md
  youtrack_cli/commands/issues.py
  youtrack_cli/managers/issues.py
  youtrack_cli/trees.py
Due: ty, pydocstyle, clean-environment, check-package-build

♻️ Rename 'issues dependencies' to 'issues related' and show all relationship types dynamically (#543)
  CHANGELOG.md
  youtrack_cli/commands/issues.py
  youtrack_cli/managers/issues.py
  youtrack_cli/trees.py
Due: ty, pydocstyle, clean-environment, check-package-build

🔧 Simplify 'yt projects fields' command to only provide list functionality (#523)
  CHANGELOG.md
  docs/commands/projects.rst
  docs/custom-fields.rst
  tests/test_projects.py
  youtrack_cli/commands/projects.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔧 Simplify 'yt projects fields' command to only provide list functionality (#523) (#546)
  CHANGELOG.md
  docs/commands/projects.rst
  docs/custom-fields.rst
  tests/test_projects.py
  youtrack_cli/commands/projects.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 Fix help text formatting for yt projects fields command
  youtrack_cli/commands/projects.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix help text formatting for yt projects fields command (#547)
  youtrack_cli/commands/projects.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix yt projects fields --fields parameter showing N/A in Name column
  youtrack_cli/services/projects.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix yt projects fields --fields parameter showing N/A in Name column (#548)
  youtrack_cli/services/projects.py
Due: ty, pydocstyle, clean-environment, check-package-build

✅ Implement article comments update command
  docs/commands/articles.rst
  youtrack_cli/articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✅ Implement article comments update command (#549)
  docs/commands/articles.rst
  youtrack_cli/articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✨ Implement article comments delete functionality
  youtrack_cli/articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build

✨ Implement article comments delete functionality (#550)
  youtrack_cli/articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build

✨ Implement article attachment download functionality
  youtrack_cli/articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build

✨ Implement article attachment download functionality (#551)
  youtrack_cli/articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build

✨ Implement article attachment delete functionality
  youtrack_cli/articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build

✨ Implement article attachment delete functionality (#552)
  youtrack_cli/articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build

📝 Update CHANGELOG.md for v0.15.0 release
  CHANGELOG.md
Due: none

🔖 Bump version to 0.15.0
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

✨ Remove deprecated admin commands and add i18n list alias
  docs/commands/admin.rst
  tests/test_admin.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✨ Remove deprecated admin commands and add i18n list alias (#558)
  docs/commands/admin.rst
  tests/test_admin.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🧪 Fix failing user service tests to match new implementation
  tests/services/test_users.py
  youtrack_cli/commands/users.py
  youtrack_cli/services/issues.py
  youtrack_cli/services/users.py
Due: ty, pydocstyle, clean-environment, check-package-build

🧪 Fix failing user service tests to match new implementation (#564)
  tests/services/test_users.py
  youtrack_cli/commands/users.py
  youtrack_cli/services/issues.py
  youtrack_cli/services/users.py
Due: ty, pydocstyle, clean-environment, check-package-build

📝 Update CHANGELOG.md for v0.15.1 release
  CHANGELOG.md
Due: none

🔖 Bump version to 0.15.1
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🔄 Standardize verb consistency: change 'yt alias add' to 'yt alias create'
  CHANGELOG.md
  docs/command-aliases.rst
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔄 Standardize verb consistency: change 'yt alias add' to 'yt alias create' (#570)
  CHANGELOG.md
  docs/command-aliases.rst
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔄 Standardize verb consistency: change 'yt alias remove' to 'yt alias delete'
  CHANGELOG.md
  docs/command-aliases.rst
  youtrack_cli/cli_utils/aliases.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔄 Standardize verb consistency: change 'yt alias remove' to 'yt alias delete' (#572)
  CHANGELOG.md
  docs/command-aliases.rst
  youtrack_cli/cli_utils/aliases.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔄 Standardize verb consistency: change 'yt boards view' to 'yt boards show'
  docs/commands/boards.rst
  docs/learning-path.rst
  youtrack_cli/commands/boards.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check
