Repository ryancheley/yt-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pydocstyle, clean-environment, zizmor, check-package-build, docs-build-check

ty:
  name: Type checking with ty
  description: Static type checking for Python code
  entry: uv run ty check --ignore call-non-callable --project youtrack_cli
  language: system
  verbose: true
  fail_fast: true

pydocstyle:
  name: Docstring style checking
  description: Ensures Google-style docstrings are followed
  entry: uv run pydocstyle youtrack_cli/
  language: system
  verbose: true

clean-environment:
  name: Clean virtual environment
  description: Ensures clean package environment before tests
  entry: uv sync --reinstall --group docs
  language: system
  pass_filenames: false
  verbose: true

zizmor:
  name: GitHub Actions security check
  description: Security analysis for GitHub Actions workflows
  entry: uv run zizmor
  language: system
  pass_filenames: true
  verbose: true

check-package-build:
  name: Check package build
  description: Validates package can be built successfully
  entry: bash -c 'uv build --no-sources && echo "✅ Package build successful"'
  language: system
  pass_filenames: false
  verbose: true

docs-build-check:
  name: Documentation build check
  description: Validates documentation can be built
  entry: bash -c 'cd docs && uv run make html && echo "✅ Documentation build successful"'
  language: system
  pass_filenames: false
  verbose: true

✨ feat(issues): accept multiple issue IDs and stdin in comments list
  docs/commands/issues.rst
  tests/test_issues.py
  youtrack_cli/commands/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 test(issues): use --quiet so JSON comment-list tests aren't polluted
  tests/test_issues.py
Due: none

🐛 test(issues): parse trailing JSON payload robustly in comment-list tests
  tests/test_issues.py
Due: none

✨ feat(issues): accept multiple issue IDs and stdin in `comments list` (#760)
  docs/commands/issues.rst
  tests/test_issues.py
  youtrack_cli/commands/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✨ feat(issues): add --query filter to comments list
  docs/commands/issues.rst
  tests/test_comment_query.py
  tests/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/comment_query.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✨ feat(issues): add --query filter to comments list (#761)
  docs/commands/issues.rst
  tests/test_comment_query.py
  tests/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/comment_query.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 test: isolate keyring backend per test to fix flaky auth test
  tests/conftest.py
Due: none

🐛 test: isolate keyring backend per test to fix flaky auth test (#762)
  tests/conftest.py
Due: none

👷 ci(coverage): replace Codecov with an in-CI coverage gate
  .github/workflows/ci.yml
  .specify/feature.json
  CHANGELOG.md
  specs/005-ditch-codecov/checklists/requirements.md
  specs/005-ditch-codecov/contracts/ci-coverage.md
  specs/005-ditch-codecov/data-model.md
  specs/005-ditch-codecov/plan.md
  specs/005-ditch-codecov/quickstart.md
  specs/005-ditch-codecov/research.md
  specs/005-ditch-codecov/spec.md
  specs/005-ditch-codecov/tasks.md
Due: zizmor

📝 docs(spec): mark #700 live-run validation (T019) complete
  specs/005-ditch-codecov/tasks.md
Due: none

👷 ci(coverage): replace Codecov with an in-CI coverage gate (#763)
  .github/workflows/ci.yml
  .specify/feature.json
  CHANGELOG.md
  specs/005-ditch-codecov/checklists/requirements.md
  specs/005-ditch-codecov/contracts/ci-coverage.md
  specs/005-ditch-codecov/data-model.md
  specs/005-ditch-codecov/plan.md
  specs/005-ditch-codecov/quickstart.md
  specs/005-ditch-codecov/research.md
  specs/005-ditch-codecov/spec.md
  specs/005-ditch-codecov/tasks.md
Due: zizmor

📝 ci(comment): fix stale reference to removed coverage-baseline job
  .github/workflows/ci.yml
Due: zizmor

📝 ci(comment): fix stale reference to removed coverage-baseline job (#765)
  .github/workflows/ci.yml
Due: zizmor

🔖 Bump version to 0.25.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🔖 Bump version to 0.25.0 (#766)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

👷 ci(release): make GitHub Release step idempotent
  .github/workflows/release.yml
Due: zizmor

👷 ci(release): make GitHub Release step idempotent (#767)
  .github/workflows/release.yml
Due: zizmor

🐛 fix(client): rebind HTTP client when reused on a new event loop (#768)
  .specify/feature.json
  docs/troubleshooting.rst
  specs/006-fix-empty-comments/checklists/requirements.md
  specs/006-fix-empty-comments/plan.md
  specs/006-fix-empty-comments/quickstart.md
  specs/006-fix-empty-comments/research.md
  specs/006-fix-empty-comments/spec.md
  specs/006-fix-empty-comments/tasks.md
  tests/test_client.py
  youtrack_cli/client.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 fix(client): rebind HTTP client when reused on a new event loop (#768) (#769)
  .specify/feature.json
  docs/troubleshooting.rst
  specs/006-fix-empty-comments/checklists/requirements.md
  specs/006-fix-empty-comments/plan.md
  specs/006-fix-empty-comments/quickstart.md
  specs/006-fix-empty-comments/research.md
  specs/006-fix-empty-comments/spec.md
  specs/006-fix-empty-comments/tasks.md
  tests/test_client.py
  youtrack_cli/client.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔖 Bump version to 0.25.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🔖 Bump version to 0.25.1 (#770)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

📝 Fix package/module names and clone URL in README
  README.md
Due: none

📝 Fix package/module names and clone URL in README (#771)
  README.md
Due: none

:bug: fix: ignore youtrack.yourcompany.com placeholder in linkcheck
  docs/conf.py
Due: ty, pydocstyle, docs-build-check

:bug: fix: ignore youtrack.yourcompany.com placeholder in linkcheck (#777)
  docs/conf.py
Due: ty, pydocstyle, docs-build-check

:bug: fix: resolve project id before custom field type discovery
  docs/custom-fields.rst
  tests/services/test_issues.py
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

:bug: fix: correct project->issue field type vocabulary; refuse untypable fields
  CHANGELOG.md
  docs/custom-fields.rst
  tests/services/test_issues.py
  tests/services/test_projects.py
  tests/test_custom_field_manager.py
  youtrack_cli/custom_field_manager.py
  youtrack_cli/custom_field_types.py
  youtrack_cli/exceptions.py
  youtrack_cli/services/issues.py
  youtrack_cli/services/projects.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 fix(issues): resolve project before field discovery
  CHANGELOG.md
  tests/services/test_issues.py
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 fix(projects): map field types by kind and multiplicity
  CHANGELOG.md
  docs/custom-fields.rst
  tests/services/test_projects.py
  tests/test_custom_field_manager.py
  youtrack_cli/custom_field_manager.py
  youtrack_cli/custom_field_types.py
  youtrack_cli/services/projects.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 fix(issues): support multi-value custom fields
  CHANGELOG.md
  docs/commands/issues.rst
  docs/custom-fields.rst
  tests/services/test_issues.py
  tests/test_custom_field_manager.py
  tests/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/custom_field_manager.py
  youtrack_cli/managers/issues.py
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 fix(issues): enable multi-value custom fields via `-cf` (#783)
  CHANGELOG.md
  docs/commands/issues.rst
  docs/custom-fields.rst
  tests/services/test_issues.py
  tests/services/test_projects.py
  tests/test_custom_field_manager.py
  tests/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/custom_field_manager.py
  youtrack_cli/custom_field_types.py
  youtrack_cli/managers/issues.py
  youtrack_cli/services/issues.py
  youtrack_cli/services/projects.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

⚠️ feat(main): warn Python 3.10 users of January 2027 EOL
  docs/installation.rst
  tests/test_main.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

⚠️ feat(main): warn Python 3.10 users of January 2027 EOL (#786)
  docs/installation.rst
  tests/test_main.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔒 fix(deps): bump virtualenv to resolve CVE-2026-102930 and CVE-2026-102938
  uv.lock
Due: clean-environment

🔒 fix(deps): bump virtualenv to resolve CVE-2026-102930 and CVE-2026-102938 (#787)
  uv.lock
Due: clean-environment

📝 docs(changelog): add 0.26.0 release section
  CHANGELOG.md
Due: none

📝 docs(changelog): add 0.26.0 release section (#788)
  CHANGELOG.md
Due: none

🔖 Bump version to 0.26.0
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

Path conditions:
  ty: any of: \.py$, but not: ^tests/
  pydocstyle: any of: \.py$, but not: ^tests/
  clean-environment: any of: ^(pyproject\.toml|uv\.lock|youtrack_cli/.*)$
  zizmor: any of: ^\.github/workflows/.*\.ya?ml$
  check-package-build: any of: ^(pyproject\.toml|youtrack_cli/.*)$
  docs-build-check: any of: ^docs/.*\.(rst|py)$
