Repository ryancheley/yt-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pydocstyle, clean-environment, zizmor, check-package-build, docs-build-check

ty:
  name: Type checking with ty
  description: Static type checking for Python code
  entry: uv run ty check --ignore call-non-callable --project youtrack_cli
  language: system
  verbose: true
  fail_fast: true

pydocstyle:
  name: Docstring style checking
  description: Ensures Google-style docstrings are followed
  entry: uv run pydocstyle youtrack_cli/
  language: system
  verbose: true

clean-environment:
  name: Clean virtual environment
  description: Ensures clean package environment before tests
  entry: uv sync --reinstall --group docs
  language: system
  pass_filenames: false
  verbose: true

zizmor:
  name: GitHub Actions security check
  description: Security analysis for GitHub Actions workflows
  entry: uv run zizmor
  language: system
  pass_filenames: true
  verbose: true

check-package-build:
  name: Check package build
  description: Validates package can be built successfully
  entry: bash -c 'uv build --no-sources && echo "✅ Package build successful"'
  language: system
  pass_filenames: false
  verbose: true

docs-build-check:
  name: Documentation build check
  description: Validates documentation can be built
  entry: bash -c 'cd docs && uv run make html && echo "✅ Documentation build successful"'
  language: system
  pass_filenames: false
  verbose: true

🐛 Fix users create command fullName and email display issue (#492)
  tests/services/test_users.py
  youtrack_cli/services/users.py
Due: ty, pydocstyle, clean-environment, check-package-build

🔧 Remove duplicate time report command
  docs/commands/time.rst
  tests/integration/test_time_tracking_integration.py
  youtrack_cli/commands/time_tracking.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔧 Remove duplicate time report command (#494)
  docs/commands/time.rst
  tests/integration/test_time_tracking_integration.py
  youtrack_cli/commands/time_tracking.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 Fix yt time list --issue filter not working correctly
  youtrack_cli/time.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix yt time list --issue filter not working correctly (#496)
  youtrack_cli/time.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix time list command duration field display
  youtrack_cli/commands/time_tracking.py
  youtrack_cli/time.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix time list command duration field display (#497)
  youtrack_cli/commands/time_tracking.py
  youtrack_cli/time.py
Due: ty, pydocstyle, clean-environment, check-package-build

🔍 Enhance security token-status command for permanent tokens
  docs/security.rst
  tests/test_security.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔍 Enhance security token-status command for permanent tokens (#498)
  docs/security.rst
  tests/test_security.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✨ Implement moving issues between projects feature
  CHANGELOG.md
  docs/commands/issues.rst
  tests/services/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✨ Implement moving issues between projects feature (#499)
  CHANGELOG.md
  docs/commands/issues.rst
  tests/services/test_issues.py
  youtrack_cli/commands/issues.py
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✨ Complete implementation of issues attach upload/download commands
  youtrack_cli/managers/issues.py
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🧪 Update attachment tests for implemented functionality
  tests/managers/test_issues.py
  tests/services/test_issues.py
Due: none

✨ Complete implementation of issues attach upload/download commands (Fixes #454) (#501)
  tests/managers/test_issues.py
  tests/services/test_issues.py
  youtrack_cli/managers/issues.py
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix JSON output pollution in issues attach list command
  youtrack_cli/commands/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix JSON output pollution in issues attach list command (#502)
  youtrack_cli/commands/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

✨ Add CSV format support to yt issues attach list command
  youtrack_cli/commands/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

✨ Add CSV format support to yt issues attach list command (#505)
  youtrack_cli/commands/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

📝 Fix documentation inconsistency: Update --confirm to --force in delete commands
  docs/commands/issues.rst
Due: docs-build-check

📝 Fix documentation inconsistency: Update --confirm to --force in delete commands (#506)
  docs/commands/issues.rst
Due: docs-build-check

📝 Update CHANGELOG.md for v0.14.0 release preparation
  CHANGELOG.md
Due: none

📝 Update CHANGELOG.md for v0.14.0 release preparation (#507)
  CHANGELOG.md
Due: none

🔖 Bump version to 0.14.0
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🐛 Fix article creation with readable parent IDs (Fixes #508)
  docs/commands/articles.rst
  tests/test_articles.py
  youtrack_cli/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 Fix article creation with readable parent IDs (Fixes #508) (#528)
  docs/commands/articles.rst
  tests/test_articles.py
  youtrack_cli/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 Fix inconsistent parent ID validation in articles create command
  tests/test_articles.py
  youtrack_cli/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix inconsistent parent ID validation in articles create command (#529)
  tests/test_articles.py
  youtrack_cli/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix article visibility parameter ignored in create command
  youtrack_cli/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix article visibility parameter ignored in create command (#530)
  youtrack_cli/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix issue type update parameter not working in issues update command
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix issue type update parameter not working in issues update command (#531)
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix assignee parameter not working in issues create command
  tests/services/test_issues.py
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix assignee parameter not working in issues create command (#532)
  tests/services/test_issues.py
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix issues move command showing error messages despite successful state changes
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix issues move command showing error messages despite successful state changes (#533)
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix false success in issues move command between projects
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix false success in issues move command between projects (#534)
  youtrack_cli/services/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix batch create API compatibility validation (Fixes #522)
  batch_create_template.csv
  batch_update_template.csv
  youtrack_cli/batch.py
  youtrack_cli/commands/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix batch create API compatibility validation (Fixes #522) (#536)
  batch_create_template.csv
  batch_update_template.csv
  youtrack_cli/batch.py
  youtrack_cli/commands/issues.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix complex alias execution - aliases with arguments now work
  youtrack_cli/cli_utils/aliases.py
Due: ty, pydocstyle, clean-environment, check-package-build

Path conditions:
  ty: any of: \.py$, but not: ^tests/
  pydocstyle: any of: \.py$, but not: ^tests/
  clean-environment: any of: ^(pyproject\.toml|uv\.lock|youtrack_cli/.*)$
  zizmor: any of: ^\.github/workflows/.*\.ya?ml$
  check-package-build: any of: ^(pyproject\.toml|youtrack_cli/.*)$
  docs-build-check: any of: ^docs/.*\.(rst|py)$
