Repository ryancheley/yt-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pydocstyle, clean-environment, zizmor, check-package-build, docs-build-check

ty:
  name: Type checking with ty
  description: Static type checking for Python code
  entry: uv run ty check --ignore call-non-callable --project youtrack_cli
  language: system
  verbose: true
  fail_fast: true

pydocstyle:
  name: Docstring style checking
  description: Ensures Google-style docstrings are followed
  entry: uv run pydocstyle youtrack_cli/
  language: system
  verbose: true

clean-environment:
  name: Clean virtual environment
  description: Ensures clean package environment before tests
  entry: uv sync --reinstall --group docs
  language: system
  pass_filenames: false
  verbose: true

zizmor:
  name: GitHub Actions security check
  description: Security analysis for GitHub Actions workflows
  entry: uv run zizmor
  language: system
  pass_filenames: true
  verbose: true

check-package-build:
  name: Check package build
  description: Validates package can be built successfully
  entry: bash -c 'uv build --no-sources && echo "✅ Package build successful"'
  language: system
  pass_filenames: false
  verbose: true

docs-build-check:
  name: Documentation build check
  description: Validates documentation can be built
  entry: bash -c 'cd docs && uv run make html && echo "✅ Documentation build successful"'
  language: system
  pass_filenames: false
  verbose: true

📝 docs: Mark version 0.22.1 as yanked (#640)
  CHANGELOG.md
Due: none

✨ feat(#641): Add auto-detection of ArticleID in yt articles fetch
  CHANGELOG.md
  docs/commands/articles.rst
  tests/test_articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

feat: Add auto-detection of ArticleID in yt articles fetch (#641) (#642)
  CHANGELOG.md
  docs/commands/articles.rst
  tests/test_articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✏️ prep for release
  CHANGELOG.md
Due: none

🔖 Bump version to 0.22.2
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

Update Dependabot configuration for Python dependencies
  .github/dependabot.yml
Due: none

🐛 Fix type checking errors from Python 3.10+ upgrade
  tox.ini
  youtrack_cli/__init__.py
  youtrack_cli/progress.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Add type: ignore for CachedResponse.json() override
  youtrack_cli/models.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Fix remaining type checking and linting issues
  .pre-commit-config.yaml
  tests/integration/test_time_tracking_integration.py
  tox.ini
  youtrack_cli/__init__.py
  youtrack_cli/models.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Add explicit type: ignore for method override issue
  tox.ini
  youtrack_cli/models.py
Due: ty, pydocstyle, clean-environment, check-package-build

Update Dependabot configuration for Python dependencies (#651)
  .github/dependabot.yml
Due: none

🐛 Pin ty in tox and fix two return-type annotations
  tox.ini
  youtrack_cli/performance_benchmark.py
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build

🐛 Pin ty in tox and fix two return-type annotations (#668)
  tox.ini
  youtrack_cli/performance_benchmark.py
  youtrack_cli/utils.py
Due: ty, pydocstyle, clean-environment, check-package-build

👷 Replace softprops/action-gh-release with gh release
  .github/workflows/release.yml
Due: zizmor

👷 Replace softprops/action-gh-release with gh release create (#670)
  .github/workflows/release.yml
Due: zizmor

👷 ci: Add Python 3.14 to CI, release, and tox
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: clean-environment, zizmor, check-package-build

👷 ci: Add Python 3.14 to CI, release, and tox (#671)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: clean-environment, zizmor, check-package-build

👷 ci: Add Python 3.14 free-threaded (3.14t) to CI and tox (#616)
  .github/workflows/ci.yml
  CHANGELOG.md
  tox.ini
Due: zizmor

👷 ci: Add Python 3.14 free-threaded (3.14t) to CI and tox (#616) (#672)
  .github/workflows/ci.yml
  CHANGELOG.md
  tox.ini
Due: zizmor

🐛 fix: Route status messages to stderr for json/csv output
  CHANGELOG.md
  docs/progress-indicators.rst
  tests/commands/test_users.py
  tests/test_console.py
  tests/test_issues.py
  youtrack_cli/commands/articles.py
  youtrack_cli/commands/boards.py
  youtrack_cli/commands/issues.py
  youtrack_cli/commands/projects.py
  youtrack_cli/commands/time_tracking.py
  youtrack_cli/commands/users.py
  youtrack_cli/console.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✅ test: Make json stdout test compatible with Click >= 8.2
  tests/test_issues.py
Due: none

🐛 Route status messages to stderr for json/csv output (Fixes #648) (#673)
  CHANGELOG.md
  docs/progress-indicators.rst
  tests/commands/test_users.py
  tests/test_console.py
  tests/test_issues.py
  youtrack_cli/commands/articles.py
  youtrack_cli/commands/boards.py
  youtrack_cli/commands/issues.py
  youtrack_cli/commands/projects.py
  youtrack_cli/commands/time_tracking.py
  youtrack_cli/commands/users.py
  youtrack_cli/console.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

📝 Prepare CHANGELOG for 0.23.0 release
  .gitignore
  CHANGELOG.md
Due: none

📝 Prepare CHANGELOG for 0.23.0 release (#674)
  .gitignore
  CHANGELOG.md
Due: none

🔖 Bump version to 0.23.0
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

📝 Add pre-release checklist to PUBLISHING.md
  PUBLISHING.md
Due: none

📝 Add pre-release checklist to PUBLISHING.md (#675)
  PUBLISHING.md
Due: none

⚡ Speed up CI and stop per-run readthedocs.io link checks
  .github/workflows/ci.yml
  .github/workflows/docs-linkcheck.yml
Due: zizmor

⚡ Speed up CI and stop per-run readthedocs.io link checks (#676)
  .github/workflows/ci.yml
  .github/workflows/docs-linkcheck.yml
Due: zizmor

🔥 Remove unused selenium dependency
  docs/troubleshooting.rst
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build, docs-build-check

🔥 Remove unused selenium dependency (#677)
  docs/troubleshooting.rst
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build, docs-build-check

📝 Add [Unreleased] CHANGELOG section for CI and selenium changes
  CHANGELOG.md
Due: none

📝 Add [Unreleased] CHANGELOG section for CI and selenium changes (#678)
  CHANGELOG.md
Due: none

⚡ Run full CI on PRs only; lightweight coverage baseline on push
  .github/workflows/ci.yml
Due: zizmor

📝 Add slim-CI change to [Unreleased] CHANGELOG
  CHANGELOG.md
Due: none

⚡ Run full CI on PRs only; lightweight coverage baseline on push (#679)
  .github/workflows/ci.yml
Due: zizmor

📝 Add slim-CI change to [Unreleased] CHANGELOG (#680)
  CHANGELOG.md
Due: none

Path conditions:
  ty: any of: \.py$, but not: ^tests/
  pydocstyle: any of: \.py$, but not: ^tests/
  clean-environment: any of: ^(pyproject\.toml|uv\.lock|youtrack_cli/.*)$
  zizmor: any of: ^\.github/workflows/.*\.ya?ml$
  check-package-build: any of: ^(pyproject\.toml|youtrack_cli/.*)$
  docs-build-check: any of: ^docs/.*\.(rst|py)$
