Repository ryancheley/yt-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pydocstyle, clean-environment, zizmor, check-package-build, docs-build-check

ty:
  name: Type checking with ty
  description: Static type checking for Python code
  entry: uv run ty check --ignore call-non-callable --project youtrack_cli
  language: system
  verbose: true
  fail_fast: true

pydocstyle:
  name: Docstring style checking
  description: Ensures Google-style docstrings are followed
  entry: uv run pydocstyle youtrack_cli/
  language: system
  verbose: true

clean-environment:
  name: Clean virtual environment
  description: Ensures clean package environment before tests
  entry: uv sync --reinstall --group docs
  language: system
  pass_filenames: false
  verbose: true

zizmor:
  name: GitHub Actions security check
  description: Security analysis for GitHub Actions workflows
  entry: uv run zizmor
  language: system
  pass_filenames: true
  verbose: true

check-package-build:
  name: Check package build
  description: Validates package can be built successfully
  entry: bash -c 'uv build --no-sources && echo "✅ Package build successful"'
  language: system
  pass_filenames: false
  verbose: true

docs-build-check:
  name: Documentation build check
  description: Validates documentation can be built
  entry: bash -c 'cd docs && uv run make html && echo "✅ Documentation build successful"'
  language: system
  pass_filenames: false
  verbose: true

🔄 Standardize verb consistency: change 'yt boards view' to 'yt boards show' (#573)
  docs/commands/boards.rst
  docs/learning-path.rst
  youtrack_cli/commands/boards.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✨ Implement doctest support for documentation and code examples
  docs/developer-guidelines.rst
  pyproject.toml
  youtrack_cli/custom_field_types.py
  youtrack_cli/utils.py
  youtrack_cli/validation.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔧 Fix Sphinx doctest failures by adding required imports and mocks
  docs/conf.py
  docs/developer-guidelines.rst
Due: ty, pydocstyle, docs-build-check

🔧 Fix final doctest failure in format_timestamp mock
  docs/conf.py
Due: ty, pydocstyle, docs-build-check

Implement doctest support for documentation and code examples (Fixes #571) (#574)
  docs/conf.py
  docs/developer-guidelines.rst
  pyproject.toml
  youtrack_cli/custom_field_types.py
  youtrack_cli/utils.py
  youtrack_cli/validation.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🤖 help the robot
  .claude/commands/deep-review.md
Due: none

📚 Add comprehensive documentation for undocumented CLI commands
  docs/commands/alias.rst
  docs/commands/audit.rst
  docs/commands/burndown.rst
  docs/commands/completion.rst
  docs/commands/groups.rst
  docs/commands/index.rst
  docs/commands/ls.rst
  docs/commands/new.rst
  docs/commands/security.rst
  docs/commands/setup.rst
  docs/commands/tutorial.rst
  docs/commands/velocity.rst
Due: docs-build-check

📚 Add comprehensive documentation for undocumented CLI commands (#579)
  docs/commands/alias.rst
  docs/commands/audit.rst
  docs/commands/burndown.rst
  docs/commands/completion.rst
  docs/commands/groups.rst
  docs/commands/index.rst
  docs/commands/ls.rst
  docs/commands/new.rst
  docs/commands/security.rst
  docs/commands/setup.rst
  docs/commands/tutorial.rst
  docs/commands/velocity.rst
Due: docs-build-check

📝 Document missing global CLI options
  docs/commands/burndown.rst
  docs/commands/index.rst
Due: docs-build-check

📝 Document missing global CLI options (#580)
  docs/commands/burndown.rst
  docs/commands/index.rst
Due: docs-build-check

📖 Document missing subcommands in issues command
  docs/commands/issues.rst
Due: docs-build-check

📖 Document missing subcommands in issues command (#581)
  docs/commands/issues.rst
Due: docs-build-check

📖 Document missing subcommands across multiple command groups
  docs/commands/admin.rst
  docs/commands/auth.rst
  docs/commands/config.rst
  docs/commands/projects.rst
  docs/commands/users.rst
Due: docs-build-check

📖 Document missing subcommands across multiple command groups (#582)
  docs/commands/admin.rst
  docs/commands/auth.rst
  docs/commands/config.rst
  docs/commands/projects.rst
  docs/commands/users.rst
Due: docs-build-check

🔖 Bump version to 0.16.0
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

✨ Add markdown file article ID insertion for articles create and edit commands
  docs/commands/articles.rst
  tests/test_articles.py
  youtrack_cli/articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🐛 Fix Python 3.9 compatibility in ArticleID integration tests
  tests/test_articles.py
Due: none

Implement: Add markdown file article ID insertion (Fixes #583) (#584)
  docs/commands/articles.rst
  tests/test_articles.py
  youtrack_cli/articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔖 Bump version to 0.17.0
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

🔐 Add SSL certificate file support to auth login command
  docs/commands/auth.rst
  tests/test_ssl_certificates.py
  youtrack_cli/auth.py
  youtrack_cli/client.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔧 Fix Python 3.9 compatibility and test mocking issues
  tests/test_ssl_certificates.py
  youtrack_cli/auth.py
  youtrack_cli/client.py
Due: ty, pydocstyle, clean-environment, check-package-build

🧪 Skip problematic SSL certificate CLI integration tests
  tests/test_ssl_certificates.py
Due: none

🔐 Add SSL certificate file support to yt auth login command (Fixes #585) (#586)
  docs/commands/auth.rst
  tests/test_ssl_certificates.py
  youtrack_cli/auth.py
  youtrack_cli/client.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔖 Bump version to 0.18.0
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

📚 Fix confusing SSL verification flag documentation (Fixes #587)
  CHANGELOG.md
  docs/commands/auth.rst
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

📚 Fix confusing SSL verification flag documentation (Fixes #587) (#589)
  CHANGELOG.md
  docs/commands/auth.rst
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

📚 Fix confusing SSL verification flag documentation (Fixes #587) (#589)
  CHANGELOG.md
  docs/commands/auth.rst
  docs/index.rst
  docs/ssl-troubleshooting.rst
  tests/test_ssl_certificates.py
  youtrack_cli/auth.py
  youtrack_cli/main.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

📚 Fix confusing SSL verification flag documentation (Fixes #587) (#589) (#590)
  CHANGELOG.md
  docs/commands/auth.rst
  docs/index.rst
  docs/ssl-troubleshooting.rst
  tests/test_ssl_certificates.py
  youtrack_cli/auth.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✏️ prepare for new release
  CHANGELOG.md
Due: none

🔖 Bump version to 0.18.1
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

✨ Improve 'yt a edit' command to check for article ID in file when using --file flag
  CHANGELOG.md
  docs/commands/articles.rst
  tests/test_articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

✨ Improve 'yt a edit' command to check for article ID in file when using --file flag (#592)
  CHANGELOG.md
  docs/commands/articles.rst
  tests/test_articles.py
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

🔖 Bump version to 0.19.0
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

✏️ Update pyproject.toml
  pyproject.toml
Due: clean-environment, check-package-build

✏️ Update pyproject.toml (#593)
  pyproject.toml
Due: clean-environment, check-package-build

🔖 Bump version to 0.19.1
  pyproject.toml
  uv.lock
Due: clean-environment, check-package-build

✏️ update incorrect link
  CHANGELOG.md
Due: none

📋 Improve tag command to display tags alphabetically with visibility (Fixes #594)
  CHANGELOG.md
  docs/commands/articles.rst
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

📋 Improve tag command to display tags alphabetically with visibility (Fixes #594) (#595)
  CHANGELOG.md
  docs/commands/articles.rst
  youtrack_cli/commands/articles.py
Due: ty, pydocstyle, clean-environment, check-package-build, docs-build-check

Path conditions:
  ty: any of: \.py$, but not: ^tests/
  pydocstyle: any of: \.py$, but not: ^tests/
  clean-environment: any of: ^(pyproject\.toml|uv\.lock|youtrack_cli/.*)$
  zizmor: any of: ^\.github/workflows/.*\.ya?ml$
  check-package-build: any of: ^(pyproject\.toml|youtrack_cli/.*)$
  docs-build-check: any of: ^docs/.*\.(rst|py)$
